language: node_js
node_js:
  - 10.8.0

cache:
  directories:
    - node_modules

script:
  - npm run lint
  - npm test

deploy:
  - provider: script
    skip_cleanup: true
    script: bin/deploy_prod_backend.sh
    on:
      branch: master
