language: node_js
node_js:
  - 8.4.0

script:
  - "npm run lint"
  - "npm test"

before_deploy:
  - "npm run build"

deploy:
  - provider: script
    skip_cleanup: true
    script: bin/deploy_prod_backend.sh
    on:
      # branch: master
      branch: prod_deploy_test
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    local_dir: build
    on:
      # branch: master
      branch: prod_deploy_test
