language: node_js
node_js:
  - 10.8.0

cache:
  directories:
    - node_modules

script:
  - npm run lint
  - npm test
  - bin/deploy_prod_backend.sh --dry-run --target $GRAPHCOOL_TARGET

deploy:
  - provider: script
    skip_cleanup: true
    script: bin/deploy_prod_backend.sh --actually-deploy-graphcool
    on:
      branch: master
