language: node_js
node_js:
  - 10.8.0

cache:
  directories:
    - node_modules

script:
  - npm run lint
  - npm test -- --coverage
  - npm run typecheck

deploy:
  - provider: script
    skip_cleanup: true
    script: bin/deploy_prod_backend.sh
    on:
      branch: master

after_success:
  - bash <(curl -s https://codecov.io/bash) -e TRAVIS_NODE_VERSION
