.Member-card {
  display: flex;
  background: white;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 90%;
  align-items: center;
}

@media screen and (max-width: 40em) {
  .Member-card {
    flex-direction: column;
  }
}

.Member-photo {
  overflow: hidden;
  width: 100%;
  max-width: 256px;
}

.Member-bio {
  display: flex;
  height: 100%;
  width: 90%;
  padding: 10px;
  border-right: 1px solid gray;
  margin: 20px;
}

.Member-since {
  color: #999;
  font-size: 0.8rem;
}

.Member-pic {
  justify-content: center;
  display: flex;
  height: auto;
  flex-basis: 50%;
  margin: 20px;
  min-height: 0;
  min-width: 128px;
}

.Member-contact {
  line-height: 40px;
}

.Member-details {
  color: #828282;
  font-style: italic;
}

.Member-hours {
  word-spacing: 1px;
  text-align: center;
  font-size: 46px;
  height: 46px;
  color: #e24e54;
}

.Member-projects {
  word-spacing: 1px;
  font-size: 46px;
  height: 46px;
  color: #4ecae2;
}

.Member-meetups {
  word-spacing: 1px;
  text-align: center;
  font-size: 46px;
  height: 46px;
  color: #e24e54;
}

.Member-experience {
  padding: 10px 0;
  text-align: center;
  margin-right: 10px;
}

.Member-contributions {
  display: flex;
}

.Member-contributions div {
  padding: 0 7px;
  border-right: 1px solid gray;
}

.Member-contributions div:last-child {
  border: 0;
}

.Member-div {
  overflow: hidden;
  width: 100%;
  align-content: center;
}

.Member-container {
  flex-direction: column;
  background: #eee;
  font-family: 'Roboto Condensed', sans-serif;
}

.Member-social-links {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.Member-skills-left {
  flex-basis: 20%;
  height: 80px;
  display: flex;
  border-right: 1px solid black;
  justify-content: center;
  align-items: center;
}

.Member-skills-right {
  flex-basis: 80%;
  display: flex;
  margin-left: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width: 67em) {
  h2 {
    font-size: 35px;
  }
  .Member-hours {
    font-size: 40px;
  }
  .Member-projects {
    font-size: 40px;
  }
  .Member-details {
    font-size: 15px;
  }
}

@media screen and (max-width: 60em) {
  h2 {
    font-size: 33px;
  }
  .Member-hours {
    font-size: 37px;
  }
  .Member-projects {
    font-size: 37px;
  }
  .Member-details {
    font-size: 12px;
  }
}

@media screen and (max-width: 53em) {
  h2 {
    font-size: 27px;
  }
  .Member-hours {
    font-size: 30px;
  }
  .Member-projects {
    font-size: 30px;
  }
  .Member-details {
    font-size: 10px;
  }
}

@media screen and (max-width: 45em) {
  h2 {
    font-size: 20px;
  }
  .Member-hours {
    font-size: 20px;
  }
  .Member-projects {
    font-size: 20px;
  }
  .Member-details {
    font-size: 10px;
  }
  .Member-social-links {
    font-size: 12px;
  }
}

@media screen and (max-width: 40em) {
  h2 {
    font-size: 20px;
  }
  .Member-hours {
    font-size: 20px;
  }
  .Member-projects {
    font-size: 20px;
  }
  .Member-details {
    font-size: 10px;
  }
  .Member-social-links {
    font-size: 12px;
  }
  .Member-pic {
    width: 128px;
  }
  .Member-bio {
    border-right: none;
  }
  .Member-skills-left {
    border-right: none;
  }
}
