.userid {
  color: black;
  display: flex;
  justify-content: left;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 10px;
  flex-direction: row;
}

.userName {
  display: inline-flex;
  align-items: center;
  padding-left: 10px;
}

.userPic {
  display: inline-flex;
}

.userTile {
}
