{
  "extends": ["react-app"],
  "env": {
    "browser": true
  },
  "rules": {
    "graphql/template-strings": [
      "error",
      {
        "env": "apollo",
        "schemaJsonFilepath": "./full-schema.json"
      }
    ]
  },
  "plugins": ["graphql"]
}
