{
  "extends": ["react-app"],

  "env": {
    "browser": true
  },

  "plugins": ["graphql"],

  "rules": {
    "graphql/template-strings": [
      "error",
      {
        "env": "apollo",
        "schemaJsonFilepath": "./full-schema.json"
      },
      {
        "env": "literal",
        "schemaJsonFilepath": "./full-schema.json"
      }
    ],
    "graphql/no-deprecated-fields": [
      "error",
      {
        "env": "apollo",
        "schemaJsonFilepath": "./full-schema.json"
      }
    ]
  },

  "overrides": [
    {
      "files": ["**/*.tsx", "**/*.ts"],

      "parser": "typescript-eslint-parser",

      "plugins": ["typescript"],

      "rules": {
        "typescript/no-unused-vars": "warn"
      }
    }
  ]
}
