{
  "extends": ["react-app", "plugin:react/recommended"],

  "env": {
    "browser": true
  },

  "plugins": ["graphql", "react-hooks"],

  "settings": {
    "react": {
      "version": "16.6.0"
    }
  },

  "rules": {
    "graphql/template-strings": [
      "error",
      {
        "env": "apollo",
        "schemaJsonFilepath": "./full-schema.json"
      },
      {
        "env": "literal",
        "schemaJsonFilepath": "./full-schema.json"
      }
    ],
    "graphql/no-deprecated-fields": [
      "error",
      {
        "env": "apollo",
        "schemaJsonFilepath": "./full-schema.json"
      }
    ],

    "react/prop-types": "off",

    "react-hooks/rules-of-hooks": "error"
  },

  "overrides": [
    {
      "files": ["**/*.tsx", "**/*.ts"],

      "parser": "typescript-eslint-parser",

      "plugins": ["typescript"],

      "rules": {
        // "typescript/no-unused-vars": "error"
        "no-unused-vars": "off",
        "typescript/no-unused-vars": [
          "error",
          { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
        ]
      }
    }
  ]
}
