html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.App-header {
  background-color: #e24e54;
  padding: 20px;
  color: white; 
  z-index:10;}

.App-intro {
  font-size: large; }

.container {
  background: #eee; }

.card {
  background: white;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  height: 100%;
  padding: 20px;
}

img {
  border-radius: 100%; }

.user-bio {
  flex-basis: 80%;
}

.user-experience {
  border: 1px solid gray;
  height: 100%;
  width: 90%;
  flex-basis: 30%;
  }

  table {
    text-align:center;
    font-style:italic;
    color:gray;
    padding: 5px;
    white-space: -moz-pre-wrap !important;
    white-space: -webkit-pre-wrap;
    white-space: break-word;
    white-space: break-all;
    white-space: normal;
  }

.divider {

}

.skillsleft {
  flex-basis: 20%;
  border-right: 1px solid gray;
  height: 80px;
}

.skillsright  {
  flex-basis: 80%;
  display: block;
  height: 80px;
}

span {
  font-weight:bold;
  font-size: 20px;
}
