html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.App-header {
  background-color: #e24e54;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.container {
	background:#eee;
}

.card {
	background: white;
	padding: 20px;
	margin:0 auto;
	margin-bottom: 10px;
	padding-top:40px;
	width: 90%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	align:left;
}

img {
	border-radius:100%;
}

.user-experience	{
	padding-top:10px;
	border: 1px solid black;
	height:45px;
	width: 100%;
}