html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App-header {
  background-color: #e24e54;
  padding: 20px;
  color: white;
  z-index: 10;
}

.App-intro {
  font-size: large;
}

.container {
  display:flex;
  flex-direction:column;
  background: #eee;
  justify-content: center;
  align-items:center;
}

.container-nested {
  overflow:auto;
  align-items:center;
  text-align:justify;
}

.card {
  display:flex;
  background: white;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  padding: 20px;
  align-items:center;
  justify-content:space-around;
}

.pic {
  justify-content:center;
  display:flex;
  height: 400px;
  flex-basis: 20%;
  }

img {
  border-radius:100%;
}

.user-bio {
  display:flex;
  flex-direction:column;
  height: 400px;
  width: 90%;
  padding:10px;
  flex-basis:35%;
  border-right:1px solid gray;
  overflow:scroll;
  align-self:flex-end;
}

.user-experience {
  flex-direction:row;
  height: 400px;
  width: 90%;
  padding:10px;
  display:flex;
  flex-basis:35%;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.user-experience table {
  text-align: center;
  font-style: italic;
  color: gray;
  padding: 15px;
}

.user-experience td {
  border: 1px solid gray;
  padding: 3px;
}

.skillsleft {
  flex-basis: 15%;
  height: 80px;
  justify-content:center;
  flex-direction:row;
  border-right:1px solid black;
  }

.skillsright {
  flex-direction:row;
  flex-basis: 85%;
  display: block;
  height: 80px;
  align-items:center;
  flex-wrap:wrap;
  }

.skillsright li {
  border: 1px solid black;
  border-radius: 20%;
  color: black;
  padding: 3px;
  margin: 5px;
}

.skills-button {
  color:#E24E54 !important;
  border: 2px solid #E24E54 !important;
  border-radius:15px !important;
  //line-height:32px !important;
  background-color:transparent !important;
  display:inline-block !important;
}
.skills-button svg {
  float: right !important;
}

span {
  font-weight: bold;
  font-size: 20px;
}
